{
  "extends": "@antfu",
  "ignorePatterns": ["**/*.md"],
  "rules": {
    "vue/component-name-in-template-casing": ["error", "kebab-case"],
    "vue/component-tags-order": ["error", {
      "order": [ [ "template", "script" ], "style" ]
    }]
  }
}
