//
// Footer
//

.page-footer {
  background-color: rgba($mid, 0.85);
  font-family: $overpass-mono;
  font-size: 0.8em;
  // text-align: center;
  color: $shade;
  // padding: $global-component-padding * 2;
  margin: 0;

  a {
    text-decoration: underline;

    &.active {
      color: #fff;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.page-footer__title {
  font-size: 1.25em;
  letter-spacing: 0;
  margin: 1em 0;
  color: #fff;
}

.page-footer__content {
  padding: $global-component-padding * 2;
}

.page-footer__copyright {
  margin-top: 2em;
}

.page-footer__social {
  list-style: none;
  padding: 0;

  ul {
    text-transform: uppercase;
  }

  li,
  a {
    display: block;
  }

  a {
    text-decoration: none;
    // border-bottom: $soft-line;
    // padding: 0.5em 0;
    margin: 0.5em 0;

    &:hover {
      svg path {
        fill: white;
      }
    }
  }

  span {
    margin-left: 0.5em;
    letter-spacing: $char-spacing;
  }
}

.page-footer__links {
  display: flex;
  margin: 1rem -1rem;

  li {
    margin: 0 1rem;
  }

  a {
    display: block;
  }
}

.page-footer__secondary {
  padding: $global-component-padding * 2;
  background-color: #000;
}

@media #{$bp-medium} {
  .page-footer {
    text-align: left;
  }

  .page-footer__copyright {
    margin-top: 0;
  }
}
