@use "sass:color";
//
// Forms
//

@use '../variables' as v;
@use '../mixins' as m;

form {

}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="image"]):not([type="file"]), select, textarea {
  @include m.cleartext;

  display: block;
  background-color: var(--color-mid);
  border: 0;
  border-bottom: 6px solid var(--color-shade);
  padding: 2rem;
  margin: 1.25rem 0;
  color: var(--color-light);
  font-size: 18px;
  font-family: var(--font-open-sans);
  transition:
    border 150ms var(--base-easing),
    background 150ms var(--base-easing);

  @include m.placeholder {
    color: #fff;
    font-weight: 700;
    opacity: 0.5;
    transition:
      color 300ms var(--base-easing),
      opacity 300ms var(--base-easing);
  }

  &:focus, &:hover {
    border-bottom-color: #fff;
    background-color: color.adjust(v.$mid, $lightness: 10%);

    @include m.placeholder {
      opacity: 1;
    }
  }
}

input[type="submit"], input[type="reset"], button:not(.hamburger), .btn {
  @include m.cleartext;

  display: inline-block;
  clear: both;
  background-color: var(--color-pink);
  padding: 1.5rem 4rem;
  margin: 1.25rem 0;
  border: 0;
  color: var(--color-light);
  font-size: inherit;
  font-family: var(--font-open-sans);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 3px 3px 0 0 var(--color-lime);
  transition:
    box-shadow 100ms var(--base-easing),
    color 300ms var(--base-easing),
    background 300ms var(--base-easing);

  i, svg {
    transition: transform 100ms var(--base-easing);
  }

  &:hover, &:focus {
    background-color: var(--color-lime);
    box-shadow: 6px 6px 0 0 var(--color-light);
    color: var(--color-mid);

    i, svg {
      transform: translateX(3px);
    }
  }
}

.btn--small {
  padding: 1rem 2rem;
}

label {
  @include m.cleartext;

  display: block;
  color: var(--color-yellow);
  font-weight: 700;
}

@media #{v.$bp-medium} {
  .flex-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: stretch;
    margin: 0 calc(-0.3rem * 2);

    input, select, textarea {
      width: 100%;
    }
  }

  [class*="flex-form__col"] {
    padding: 0 1.25rem;
  }

  .flex-form__col-half {
    flex: 0 0 50%;
  }

  .flex-form__col-full {
    flex: 0 0 100%;
  }
}
