// 
// Forms
// 

form {

}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="image"]):not([type="file"]), select, textarea {
  display: block;
  background-color: $mid;
  border: 0;
  border-bottom: 6px solid $shade;
  padding: 2rem;
  margin: 1.25rem 0;
  color: $light;
  font-size: 18px;
  font-family: $open-sans;
  @include cleartext;
  transition: 
    border 150ms $base-easing,
    background 150ms $base-easing;

  @include placeholder {
    color: white;
    font-weight: 700;
    opacity: 0.5;
    will-change: opacity, color;
    transition:
      color 300ms $base-easing,
      opacity 300ms $base-easing;
  }

  &:focus, &:hover {
    border-bottom-color: white;
    background-color: lighten($mid, 10%);

    @include placeholder {
      opacity: 1;
    }
  }
}

input[type="submit"], input[type="reset"], button:not(.hamburger), .btn {
  display: inline-block;
  clear: both;
  background-color: $pink;
  padding: 1.5rem 4rem;
  margin: 1.25rem 0;
  border: 0;
  color: $light;
  font-size: inherit;
  font-family: $open-sans;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 3px 3px 0 0 $lime;
  will-change: box-shadow, color, background;
  transition: 
    box-shadow 100ms $base-easing,
    color 300ms $base-easing,
    background 300ms $base-easing;
  @include cleartext;

  i, svg {
    will-change: transform;
    transition: transform 100ms $base-easing;
  }

  &:hover, &:focus {
    background-color: $lime;
    box-shadow: 6px 6px 0 0 $light;
    color: $mid;

    i, svg {
      transform: translateX(3px);
    }
  }
}

.btn--small {
  padding: 1rem 2rem;
}

label {
  display: block;
  color: $yellow;
  font-weight: 700;
  @include cleartext;
}

@media #{$bp-medium} {
  .flex-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: stretch;
    margin: 0 calc(-.3rem * 2);

    input, select, textarea {
      width: 100%;
    }
  }

  [class*="flex-form__col"] {
    padding: 0 1.25rem;
  }

  .flex-form__col-half {
    flex: 0 0 50%;
  }

  .flex-form__col-full {
    flex: 0 0 100%;
  }
}