//
// Header
//

#logo {
  width: 100%;
  height: auto;
}

.logo-link {
  display: block;
  text-align: center;
  outline: none;
}

.page-header {
  padding: $global-component-padding ($global-component-padding * 2);
}

@media (max-width: 799px) {
  .logo-link {
    max-width: 30%;
    min-width: 80px;
    margin: 0 auto;
  }
}

@media #{$bp-medium} {
  .page-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr);
    grid-template-areas: "logo menu menu menu menu menu";
  }

  .logo-link {
    grid-area: logo;
    max-width: 22rem;
  }

  .menu--main {
    grid-area: menu;
  }
}
