//
// Menus
//

.menu {
  display: flex;
  justify-content: center;
  margin-left: auto;
  font: 700 2rem/2 $overpass-mono;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: $char-spacing;
  @include cleartext;

  ul {
    @include list-reset;
  }

  li,
  a {
    display: block;
  }

  li {
    @for $i from 1 through length($colors-site) {
      $c: nth($colors-site, $i);

      &:nth-of-type(#{$i}) a:not(:hover) {
        color: $c;
      }

      @media #{$bp-medium} {
        &:nth-of-type(#{$i}) a:after {
          background-color: $c;
        }
      }
    }
  }

  .menu__link {
    padding: 0.25em 1.5em;
    text-decoration: none;
    outline: none;

    &:hover {
      color: #fff;

      @media #{$bp-medium} {
        &:after {
          transform: scaleX(0.5) scaleY(1);
        }
      }
    }

    @media #{$bp-medium} {
      &:after {
        display: block;
        content: "";
        height: 3px;
        will-change: transform, background;
        transform: scaleX(0) scaleY(1);
        transition: transform 300ms $base-easing, background 300ms $base-easing;
      }

      &.active {
        &:after {
          transform: scaleX(0.5) scaleY(1);
        }
      }
    }
  }

  @media (max-width: 799px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba($mid, 0.96);
    font-size: 4rem;
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity, visibility;
    transition: visibility 300ms $base-easing, transform 300ms $base-easing,
      opacity 300ms $base-easing;
    transform-origin: center;
    transform: scale(0.85) translateY(2rem);

    li {
      will-change: opacity, transform;
      transition: opacity 300ms $base-easing, transform 300ms $base-easing;
      opacity: 0;
      transform: translateY(-2rem);

      @for $i from 1 through 4 {
        &:nth-of-type(#{$i}) {
          transition-delay: #{$i * 150}ms;
        }
      }
    }

    &.is-active {
      opacity: 1;
      visibility: visible;
      transform: scale(1) translateX(0);

      li {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @media #{$bp-medium} {
    justify-content: flex-end;

    ul {
      display: flex;

      > li {
        flex: 0 0 1;
      }
    }
  }
}

// Hamburger

#hamburger {
  display: none;
}

@media (max-width: 799px) {
  #hamburger {
    display: block;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1001;

    &.is-active {
      .hamburger-inner,
      .hamburger-inner:before,
      .hamburger-inner:after {
        background-color: $yellow;
      }
    }
  }
}
