@use "sass:string";
//
// Variables
//

// Paths
$img-path: "../img";

// Fonts
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$open-sans: "Open Sans", $sans-serif;
$overpass-mono: "Overpass Mono", monospace;
$heading-text: $overpass-mono;

@font-face {
  font-family: "Summer Hearts";
  src: url("/fonts/summerhearts-regular-webfont.woff2") format("woff2"),
    url("/fonts/summerhearts-regular-webfont.woff") format("woff"),
    url("/fonts/summerhearts-regular-webfont.ttf") format("truetype"),
    url("/fonts/summerhearts-regular-webfont.svg#summer_heartsregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

$summer-hearts: "Summer Hearts", $sans-serif;

// Colors
$teal: #07eff3;
$yellow: #eef46e;
$red: #d70e2f;
$lime: #8bd76b;
$pink: #f54768;
$light: #fff;
$mid: #222;
$shade: #777;
$fog: #eee;

$dark: #000;
$dark-15: rgba($dark, 0.15);
$dark-35: rgba($dark, 0.35);
$dark-50: rgba($dark, 0.5);
$dark-75: rgba($dark, 0.75);

// Brand colors
$github: #c6cbd1;
$twitter: #1da1f2;
$html5: #e34f26;
$sass: #cf649a;
$js: #f0db4f;
$php: #777bb3;
$vue: #41b883;
$wordpress: #2d73a5;
$node: #689f63;
$apple-music: #fa2d48;

// site color array
$colors-site: ($teal $yellow $pink $lime $red $light $mid $shade $dark);

// Breakpoints
$bp-small: string.unquote("(min-width: 320px) and (max-width: 799px)");
$bp-medium: string.unquote("(min-width: 800px)");
$bp-medium-max: string.unquote("(max-width: 800px)");
$bp-medium-large: string.unquote("(min-width: 992px)");
$bp-medium-large-max: string.unquote("(max-width: 992px)");
$bp-large: string.unquote("(min-width: 1200px)");
$bp-large-2x: string.unquote("(min-width: 1280px)");

// Misc
$sidebar-padding: 1.25em;
$sidebar-width: 14em;
$content-width: 1140px;
$grid-square: 2%;
$radius: 5px;
$radius-xl: 10px;
$panel-bg: rgba($mid, 0.5);
$global-component-padding: 1.5em;
$soft-line: 1px solid rgba(#fff, 0.15);
$char-spacing: 0.15em;
$base-easing: cubic-bezier(.48,.28,.49,.87);
$base-transform: 6rem;
$link-gradient: linear-gradient(to right, var(--color-lime), var(--color-pink));
$link-gradient-hover: linear-gradient(to right, var(--color-light), var(--color-light));

// Maps
$breakpoints: (
  'small': $bp-small,
  'medium': $bp-medium,
  'medium-max': $bp-medium-max,
  'medium-large': $bp-medium-large,
  'medium-large-max': $bp-medium-large-max,
  'large': $bp-large,
  'large-2x': $bp-large-2x,
);

$colors-site-named: (
  'teal': $teal,
  'yellow': $yellow,
  'red': $red,
  'lime': $lime,
  'pink': $pink,
  'light': $light,
  'mid': $mid,
  'shade': $shade,
  'dark': $dark,
  'fog': $fog,
);

$colors-brand: (
  'github': $github,
  'twitter': $twitter,
  'html5': $html5,
  'sass': $sass,
  'js': $js,
  'php': $php,
  'vue': $vue,
  'vuejs': $vue,
  'wordpress': $wordpress,
  'node': $node,
);

$fonts: (
  'sans': $sans-serif,
  'open-sans': $open-sans,
  'mono': $overpass-mono,
  'heading': $heading-text,
  'display': $summer-hearts,
);

$misc: (
  'sidebar-padding': $sidebar-padding,
  'sidebar-width': $sidebar-width,
  'content-width': $content-width,
  'grid-square': $grid-square,
  'radius': $radius,
  'radius-xl': $radius-xl,
  'panel-bg': $panel-bg,
  'global-component-padding': $global-component-padding,
  'soft-line': $soft-line,
  'char-spacing': $char-spacing,
  'base-easing': $base-easing,
  'link-gradient': $link-gradient,
  'link-gradient-hover': $link-gradient-hover,
  'base-transform': $base-transform,
);

// css variable binding

:root {
  // site colors
  @each $name, $color in $colors-site-named {
    --color-#{$name}: #{$color};
  }

  // brand colors
  @each $name, $color in $colors-brand {
    --color-#{$name}: #{$color};
  }

  // fonts
  @each $name, $font in $fonts {
    --font-#{$name}: #{$font};
  }

  // breakpoints
  @each $name, $value in $breakpoints {
    --bp-#{$name}: #{$value};
  }

  // misc
  @each $name, $value in $misc {
    --#{$name}: #{$value};
  }
}
