//
// Styles
//

// variables
@use './variables' as v;
@use 'fonts';
@use 'utilities';

// vendor
@use 'vendor/minireset';
@use 'vendor/hamburgers' with (
  $hamburger-layer-width: 40px,
  $hamburger-layer-height: 4px,
  $hamburger-layer-spacing: 8px,
  $hamburger-layer-border-radius: 2px,
  $hamburger-types: (collapse, collapse-r),
  $hamburger-layer-color: var(--color-lime),
);

// patterns
@use 'patterns/bootstrapper';
@use 'patterns/scrollbar';
@use 'patterns/animation';
@use 'patterns/page-transitions';
@use 'patterns/structure';
@use 'patterns/type';
@use 'patterns/forms';
@use 'patterns/helpers';
@use 'patterns/breadcrumb';
@use 'patterns/highlightjs';
@use 'patterns/browser-chrome';
@use 'patterns/journal-entry';
