//
// Styles
//

// variables
@import "variables";

// vendor
@import "vendor/minireset";

// hamburger settings
$hamburger-layer-width: 40px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 8px;
$hamburger-layer-border-radius: 2px;
$hamburger-types: (collapse, collapse-r);
$hamburger-layer-color: $lime;

@import "vendor/hamburgers/hamburgers";

// patterns
@import "mixins";
@import "patterns/bootstrapper";
@import "patterns/scrollbar";
@import "patterns/animation";
@import "patterns/page-transitions";
@import "patterns/logo";
@import "patterns/structure";
@import "patterns/type";
@import "patterns/menu";
@import "patterns/forms";
@import "patterns/nuxt";
@import "patterns/header";
@import "patterns/footer";
@import "patterns/social";
@import "patterns/helpers";
@import "patterns/breadcrumb";
@import "patterns/highlightjs";
@import "patterns/browser-chrome";
@import "patterns/music";

// pages
@import "pages/projects";
@import "pages/journal";
